dash
dash_core_components
dash_html_components
imbalanced-learn
joblib
lightgbm
matplotlib
numpy
optuna
pandas
plotly
psycopg2
PyYAML
requests
scikit-learn
scipy
setuptools
shap
SQLAlchemy
tensorflow_intel
xgboost
tensorflow
kafka-python
python-dateutil